.jumbotron{
	padding:10px;
	margin-bottom:10px;
}
.choiceBtn{
	height:100px;
	width:100px;
	border: 1px solid black;
	margin:10px 5px;
}

#player1Container{
	border-right: 1px solid grey;
}

#player2Container{
	border-left: 1px solid grey;
}


#player1Name,#player2Name{
	text-align: center;
	font: bold 30px sans-serif;
}

#player1Choice,#player2Choice{
	text-align: center;
}

.col-lg-12{
	text-align: center;
	font-size:20px;
	margin: 20px 0 0px 0;
}

.title{
	font-size: 50px;
	color:grey;
	font-family: 'Bungee Shade', cursive;
	text-align: center
}

.playerScore{
	margin-right:5px;
}

#player1-Win,#player2-Win{
	font-weight:bold;
	color:green;
	margin-right:30px;
}

#player1-Lose,#player2-Lose{
	font-weight:bold;
	color:red;
	margin-right:30px;
}

#player1-Tie,#player2-Tie{
	font-weight:bold;
	color:grey;
	margin-right:30px;
}

#player1-status,#player2-status{
	color:green;
	text-align: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
    height:50px;
}

#decision{
	color:black;
	text-align: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
    height:50px;
}

#message-container{
	border:1px solid black;
	text-align: center;
	background-color:grey;
}

#message-display{
	border:1px solid black;
	height:200px;
	width:100%;
	background-color:white;
	text-align:left;
	overflow:scroll;
	padding:10px;
	font:18px;
}

#message-input{
	width:90%;
	margin:5px;
}



