.choiceBtn{
	height:120px;
	width:120px;
	border: 1px solid black;
	margin:10px 5px;
}

#player1Container{
	border-right: 1px solid grey;
}

#player2Container{
	border-left: 1px solid grey;
}


#player1Name,#player2Name{
	text-align: center;
	font: bold 30px sans-serif;
}

#player1Choice,#player2Choice{
	text-align: center;
}

.col-lg-6{
	text-align: right;
	padding-right:0;
}

.title{
	font-size: 50px;
	color:grey;
	font-family: 'Bungee Shade', cursive;
	text-align: center
}

#player1-Win,#player2-Win{
	font-weight:bold;
	color:green;
}

#player1-Lose,#player2-Lose{
	font-weight:bold;
	color:red;
}

#player1-Tie,#player2-Tie{
	font-weight:bold;
	color:grey;
}

#player1-status,#player2-status{
	color:green;
	text-align: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
    height:50px;
}

#decision{
	color:black;
	text-align: center;
    font: bold 25px sans-serif;
    padding-top: 20px;
    height:50px;
}

